.main {
  background-color: honeydew;
}
.padding {
  padding: 5px;
  text-align: center;
  font-size: xx-small;
  font-style: italic;
  background-color: antiquewhite;
  /* max-width: 395px; */
  margin: auto;
  align-content: center;
}
.header {
  text-align: center;
  padding: 10px;
  background: cyan;
  max-width: 380px;
  max-height: 380px;
  margin: auto;
  width: 50%;
  border: 3px solid purple;
}
.container {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  color: firebrick;
}

.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
  border: 3px solid darkgray;
  max-width: 395px;
}

.result p {
  font-size: 40px;
  margin: 5px;
  text-align: right;
}

.calculator-body {
  padding: 60px;
  color: black;
  max-width: 400px;
  margin: auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

.button {
  display: block;
  background-color: #bbb;
  border: 3px solid darkgray;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  border: 3px solid darkgray;
}
